importlib-metadata==6.0.0
ipykernel==6.20.2
ipython==8.8.0
matplotlib==3.6.3
matplotlib-inline==0.1.6
mpmath==1.2.1
mypy-extensions==0.4.3
nest-asyncio==1.5.6
nltk==3.8.1
numpy==1.23.5
opencv-python==4.7.0.68
packaging==23.0
pandas==1.5.3
platformdirs==2.6.2
powerlaw==1.5
prompt-toolkit==3.0.36
pytz==2022.7.1
PyYAML==5.4.1
pyzmq==25.0.0
regex==2022.10.31
requests==2.28.2
scikit-learn==1.0.2
scipy==1.10.0
recommendation_model==1.0.0
