.chatBotContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .formContainer {
    width: 400%;
    height: 300%;
    position: absolute;
    bottom: 110px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
  }
